services:
{% for study in admin_dashboards.studies %}
  {{ study.name }}:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        SERVER_IMAGE_TAG: ${SERVER_IMAGE_TAG}
    image: e-mission/opdash:0.0.1
    ports:
      - "{{ study.port }}:8050"
    environment:
      DASH_DEBUG_MODE: "False"
      DASH_SERVER_PORT: 8050
      DB_HOST: "{{ docker_gateway }}:27017"
      WEB_SERVER_HOST: 0.0.0.0
      SERVER_BRANCH: master
      CONFIG_PATH: "https://raw.githubusercontent.com/tdmg-traisimove/traisimove-deploy-configs/main/configs/"
      STUDY_CONFIG: "{{ study.name }}"
      AUTH_TYPE: "basic"
      DASH_REQUESTS_PATHNAME_PREFIX: "/dashboards/{{ study.name }}/"
      REACT_VERSION: "18.2.0"
    deploy:
      restart_policy:
        condition: on-failure
{% endfor %}
